<link rel="stylesheet" href="styles/footer.css" />

<footer class="footer">
  <p class="footer__copyright">&copy; 2024 Votemer website</p>
  <div class="contact">
    <h3 class="contact__title">Contact</h3>
    <div class="icons">
      <a href="#" class="icons__link"><i class="fi fi-brands-facebook icons__icon"></i></a>
      <a href="#" class="icons__link"><i class="fi fi-brands-instagram icons__icon"></i></a>
      <a href="#" class="icons__link"><i class="fi fi-brands-twitter-alt icons__icon"></i></a>
      <a href="#" class="icons__link"><i class="fi fi-brands-reddit icons__icon"></i></a>
    </div>
  </div>
</footer>
