/* Animations */
@keyframes fadeIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.profile {
  height: calc(100% - 72px);
}

.sidebar {
  background-color: var(--secondary-color);
  width: 12.5em;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}
.sidebar__button {
  display: block;
  width: 100%;
  padding: 0.6em;
  text-align: left;
  color: #fff;
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
.sidebar__button.active {
  width: 80%;
  background-color: var(--main-color);
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sidebar__logout {
  margin-top: auto;
}
.sidebar__button-logout {
  font-size: 1.5rem;
  background-color: rgb(255, 60, 60);
  text-align: center;
  transition: all 0.5s ease;
}
.sidebar__button-logout:hover {
  background-color: red;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.content__section {
  width: 70%;
  display: block;
  padding: 2em;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  animation: fadeIn 0.8s ease-in-out;
}

.account {
  color: var(--main-color);
}
.account__title {
  font-size: 2rem;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 0.5em;
}

.account__description {
  margin: 0.8em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5em;
  border-radius: 8px;
}

.account__detail {
  font-weight: bold;
  color: var(--main-color);
}

.settings form {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="text"] {
  padding: 0.8em;
  font-size: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input:focus {
  box-shadow: 0 0 5px var(--main-color);
}

.update__title {
  margin-bottom: 1.3em;
}
.delete__title {
  margin: 1.3em 0;
}
.update__button,
.delete__button {
  width: 30%;
  font-size: 1.2rem;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.update__button {
  background-color: #4caf50;
  transition: all 0.5s ease;
}
.update__button:hover {
  background-color: green;
}
.delete__button {
  background-color: rgb(255, 60, 60);
  transition: all 0.5s ease;
}
.delete__button:hover {
  background-color: red;
}
.update__message,
.delete__message {
  margin: 0.6em 0;
  display: none;
}
.update__message {
  color: green;
}
.delete__message {
  color: red;
}

input[type="email"],
input[type="text"] {
  padding: 0.5em;
  margin: 0.3em 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .update__button,
  .delete__button {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .account__description {
    flex-direction: column;
    text-align: center;
  }

  .sidebar {
    width: 9.375em;
  }
  .content__section {
    width: 90%;
    padding: 1em;
  }
  .update__title {
    font-size: 1.1rem;
  }
  .update__button,
  .delete__button {
    width: 80%;
  }
  .delete__title {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .content {
    padding: 22em 0; /* additional */
  }
  .sidebar__logout {
    margin-top: 3em;
  }
}
